body {
  text-align: center;
}

#container {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  margin: auto;
}

h1,
h2,
h3 {
  margin-bottom: 30px;
}

#card {
  margin-bottom: 50px;
}

.btn-hit {
  margin-top: 30px;
  border: 1px solid lightgrey;
  padding: 10px 25px;
}
.btn-stand {
  margin-top: 30px;
  border: 1px solid lightgrey;
  padding: 10px 25px;
}

.card {
  width: 25%;
  display: block;
  border: 1px solid lightgrey;
  padding: 6px 3px;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #888888;
  margin: auto;
}
