body {
  text-align: center;
}

#container {
  border: 1px solid black;
  background: green;
  color: white;
  width: 800px;
  height: auto;
  margin: auto;
  padding: 20px 20px 40px 20px;
}

#player,
#dealer {
  display: inline-block;
  padding: 60px;
}

h1,
h2,
h3 {
  margin-bottom: 30px;
}

#card {
  margin-bottom: 50px;
}

.btn-hit,
.btn-stand {
  margin-top: 30px;
  padding: 10px 25px;
  background-color: #333;
  color: white;
  border: 1px solid #333;
}

.card-0,
.card-1 {
  display: block;
  background-color: white;
  padding: 6px 3px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #333;
  margin: auto;
}
